<% current_service_ids = @company.service_ids %>
<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, Category.all, :id, :title, { :prompt => true } %>
  </div>
  <div class="field">
    <%= f.label :delegation_id %><br />
    <%= f.collection_select :delegation_id, Delegation.all, :id, :title, { :prompt => true } %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Services" %><br />
    <ul>
    <% Service.all.each do |service| %>
      <% hidden_field_tag 'company[service_ids][]', [] %>
      <li>
        <%= check_box_tag "company[service_ids][]", service.id, current_service_ids.include?(service.id) %>
        <%= service.title %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="field">
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
