<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @company.category.title %>
</p>

<p>
  <b>Delegation:</b>
  <%= @company.delegation.title %>
</p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>About:</b>
  <%= @company.about %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
