<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @delegation.city %>
</p>

<p>
  <b>Title:</b>
  <%= @delegation.title %>
</p>

<p>
  <b>Description:</b>
  <%= @delegation.description %>
</p>


<%= link_to 'Edit', edit_delegation_path(@delegation) %> |
<%= link_to 'Back', delegations_path %>
